# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Backup files
*.bak

# If using dotenv for environment variables
.env

# IDE-specific files
.idea/
.vscode/

# macOS
.DS_Store